
.Upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.heading {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 300px;
  font-size: 60px;
}